# Archivos de Android Studio y Gradle
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Archivos de sistema
.DS_Store

# Directorios de compilación
/build
/captures
.externalNativeBuild
.cxx

# Configuración local
local.properties


app/client_secret_*.json
*.keystore
*.jks
*.pem
*.p12

.kotlinc/
compose-cache/

